.container {
    margin: 100px;
    margin-top: 5px;
}

table {
    width: 100%;
    margin-top: 10px;
}

.btn-list-user{
    text-align: right;
}

th {
    width: 20%;
}

section.btn-list-user a {
    cursor: pointer;
    margin: 3px;
}